<!-- 

Description: Dashboard page for logged-in users
Purpose:
* Link to schedule a session 
* Link to view and cancel sessions for the logged-in user

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/Logo_nobackground.png">
</head>

<body class="body">

<div class="content-wrapper">
    <h1 class="page-title">Dashboard</h1>
    <div class="main-layout">

        <!-- MAIN -->
        <div class="main-content">
            <div class="card">
                <h2>Name: {{ user.fname }} {{ user.lname }}</h2>
                <p>Role: {{ role }}</p>
                <ul>
                    <li><a href="{{ url_for('search_sessions_route') }}">Schedule a Session</a></li>
                    <li><a href="{{ url_for('my_sessions_route') }}">View Your Sessions</a></li>
                    <li><a href="{{ url_for('view_my_profile_route') }}">View My Profile</a></li>
                </ul>
            </div>
        </div>
</div>

</body>
</html>