<!-- 

Description: Confirmation page after booking a session
Purpose:
    * Confirm session is booked
    * Link to schedule another session or return to dashboard
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/Logo_nobackground.png">
</head>

<body class="body">

<div class="content-wrapper">
    <div class="main-content">
         <!-- MAIN -->
        <div class="card">
            {% if error %}
                <p class="error">{{ error }}</p>
            {% else %}
                <p>Your session has been booked successfully!</p>
            {% endif %}
            <ul>
                <li><a href="{{ url_for('my_sessions_route') }}">View Your Session Here</a></li>
                <li><a href="{{ url_for('search_sessions_route') }}">Schedule Another Session</a></li>
                <li><a href="{{ url_for('dashboard_route') }}">Back to Home</a></li>
            </ul>
        </div>
    </div>
</div>

</body>

</html>


