<!--

Description: signup page for student
Purpose: gives student the role of student 

-->

<!DOCTYPE html>
<html>
<head>
  <title>Student Sign Up</title>
  <link rel="icon" type="image/x-icon" href="/static/Logo_nobackground.png">
</head>
<body>

  <h2>Step 2: Add Account Details</h2>

  <form method="POST" action="{{ url_for('signup_student') }}">
    <label>First Name:</label><br>
    <input type="text" name="fname" required><br><br>

    <label>Last Name:</label><br>
    <input type="text" name="lname" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Create Account</button>
  </form>

  <br>
  <a href="{{ url_for('login') }}">Back to Login</a>

</body>
</html>