<!--

Description: if someone clicks that they do not have an account, they are brought to this page
Purpose: User selects if they are a student or a tutor, are are brought to different sign-up pages

-->

<!DOCTYPE html>
<html>
<head>
  <title>Sign Up - TutorSphere</title>
</head>
<body>

  <h2>Are you a...</h2>

  <a href="/signup/student">
    <button>Student</button>
  </a>

  <a href="/signup/tutor">
    <button>Tutor</button>
  </a>

  <br><br>

  <a href="/login">Back to Login</a>

</body>
</html>