<!--

Description: signup page for tutor
Purpose: gives tutor the role of tutor, allows them to choose a schedule

-->
<!DOCTYPE html>
<html>
<head>
  <title>Tutor Sign Up</title>
</head>
<body>

  <h2>Step 2: Add Account Details</h2>

  <form>
    <label>First Name:</label><br>
    <input type="text"><br><br>

    <label>Last Name:</label><br>
    <input type="text"><br><br>

    <label>Email:</label><br>
    <input type="email"><br><br>

    <label>Password:</label><br>
    <input type="password"><br><br>

    <label>Subjects You Can Teach:</label><br>
    <input type="text" placeholder="Math, Physics"><br><br>

    <button type="button">Create Account</button>
  </form>

  <br>
  <a href="/login">Back to Login</a>

</body>
</html>