<!--

Description: Signup page where users enter their credentials
Purpose: Gives user the is_tutor of student or tutor

-->

<!DOCTYPE html>
<html>
<head>
  <title>Create Account</title>
  <link rel="icon" type="image/x-icon" href="/static/Logo_nobackground.png">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">  
</head>

<body class="center-page">
  <div class= "container">
    <h2>Create Account</h2>
    <div class="subtitle">Fill in your account details to get started</div>
      
    <form method="POST" action="{{ url_for('signup_route') }}">
      <div class="input-box">
        <i class="fa fa-user-tag"></i>
        <select name="is_tutor" required>
          <option value="">Select account type</option>
          <option value="0">Student</option>
          <option value="1">Tutor</option>
        </select>
      </div>

      <div class="row">
        <!-- FIRST NAME -->
        <div class="input-box">
          <i class="fa fa-user"></i>
          <input type="text" name="fname" placeholder="First name" required>
        </div>

        <!-- LAST NAME -->
        <div class="input-box">
          <i class="fa fa-user"></i>
          <input type="text" name="lname" placeholder="Last name" required>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="input-box">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" placeholder="Email address" required>
      </div>

      <!-- PASSWORD -->
      <div class="input-box">
        <i class="fa fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <!-- ERROR -->
      <p class="error">{{ error }}</p>

      <button type="submit" class = "button">Next</button>
    </form>

    <a href="{{ url_for('login_route') }}">Already have an account? Login</a>
  </div>
</body>
</html>
